<html>
    <head>
        <title>Users</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Error. {{message}}</h1>
        <a href="/users">Return to users page</a>
    </body>
</html>